div{
    width: 200px;
    height: 200px;
    text-align: center;
    border: 2px solid black;
}

.card-active{
    background-color:lightcoral;
}
.playTile{
    width: 100%;
    border: 1px solid #000000;
}