

<!-- <div style="text-align: center; display: flex; flex-flow: row wrap;">
    <app-play-tile></app-play-tile>
    <app-play-tile></app-play-tile>
</div>

<div style="text-align: center; display: flex; flex-flow: row wrap;">
    <app-tile></app-tile>
    <app-tile></app-tile>
</div> -->

<!-- <aside>
    <app-player-score></app-player-score>
</aside>

<aside>
    <app-timer></app-timer>
    <app-life></app-life>
</aside> -->

<div class="gamePage">
    <div>
        <app-player-score></app-player-score>
    </div>

    <main>
        <h5> Score : {{score}} </h5>
        <h5> Misses : {{misses}} </h5>
        <h5> life : {{noOfXp}} </h5>

        <div class="gameTile">
            <app-tiles [cardData]=' Tiles[0] ' (sendEventToCardHolder) = 'cardClicked($event)'></app-tiles>
            <app-tiles [cardData]=' Tiles[1] ' (sendEventToCardHolder) = 'cardClicked($event)'></app-tiles>
            <!-- <p> {{tiles[0]}} {{tiles[1]}} </p> -->
        </div>
        
        <div class="gameTile">
            <app-tiles [cardData]=' Tiles[2] ' (sendEventToCardHolder) = 'cardClicked($event)'></app-tiles>
            <app-tiles [cardData]=' Tiles[3] ' (sendEventToCardHolder) = 'cardClicked($event)'></app-tiles>
            <!-- <p> {{tiles[2]}} {{tiles[3]}} </p> -->
        </div>
        <!-- <div class="gameTile" *ngFor="let tile of tiles; let i = index">
            <app-tile></app-tile> {{i + 1}}
        </div> -->
    </main>

    <div>
        <app-timer></app-timer>
        <app-life></app-life>
    </div>
</div>
